/* General Styles */
:root {
    --primary-color: #51aae6;
    --secondary-color: #0062ff;
    --background-color-light: #FFFFFF;
    --background-color-dark: #1A1A1A;
    --text-color-light: #000000;
    --text-color-dark: #dbdbdb;
    --light-gray-light: #000000;
    --light-gray-dark: #ffffff;
    --heading1-color: #4a9cd3; /* Slightly different shade of blue for h1 */
    --heading2-color: #4390c0; /* Slightly different shade of blue for h2 */
    --heading3-color: #3c84ad; /* Slightly different shade of blue for h3 */
    --nav-height: 70px;
    --transition-speed: 0.3s;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --hover-transform: translateY(-3px);
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    line-height: 1.4 !important; /* Make text more dense */
    font-size: 1em !important; /* Increase text size for better readability */
    box-sizing: border-box;
    padding-top: 60px; /* Adjust this value based on the height of your header */
    transition: background-color 0.3s ease, color 0.3s ease, padding-top 0.3s ease;
}

@media (min-width: 768px), (min-width: 1024px) {
    body {
        padding-top: 60px; /* Adjust this value based on the height of your header */
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-color-light);
        color: var(--text-color-light);
    }

    nav ul li a, button:hover, .footer-buttons a {
        color: var(--text-color-light);
    }

    nav ul li a:hover, a:hover {
        color: var(--primary-color);
    }

    a {
        color: var(--primary-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: var(--secondary-color);
    }

    .project, .login-container, .login-form {
        background-color: var(--background-color-light);
    }

    .project:hover {
        background-color: var(--primary-color);
        color: var(--text-color-dark);
        transform: scale(1.05); /* Slightly enlarge on hover */
    }

    .project .tags span {
        background-color: var(--secondary-color);
        color: var(--text-color-dark);
    }

    button {
        background-color: var(--primary-color);
        color: var(--text-color-light);
        transition: background-color 0.3s ease, color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    button:hover {
        background-color: var(--secondary-color);
        color: var(--text-color-dark);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px); /* Add a slight upward movement */
    }

    .new-button-style {
        color: black !important; /* Ensure text color is black */
    }

    .new-button-style:hover {
        background-color: var(--primary-color) !important;
        color: var(--text-color-dark) !important; /* Ensure text color is dark on hover */
    }

    .new-button-style h2 {
        color: var(--primary-color) !important; /* Ensure title text color is blue */
    }

    .new-button-style:hover h2 {
        color: var(--text-color-dark) !important; /* Ensure title text color is dark on hover */
    }

    .tagline, .progress-bar {
        color: var(--light-gray-light);
    }

    header, nav, footer {
        background-color: rgba(255, 255, 255, 0.8);
    }

    footer {
        color: var(--text-color-light);
    }

    .footer-buttons a {
        filter: none; /* Ensure icons are visible in light mode */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 20px; /* Smaller size */
        height: 20px; /* Smaller size */
        font-size: 1em; /* Adjust icon size */
    }

    .footer-buttons a:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Subtle hover effect */
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    input, textarea {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--text-color-light);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }

    nav ul li a, button:hover, .footer-buttons a {
        color: var(--text-color-dark);
    }

    nav ul li a:hover, a:hover {
        color: var(--primary-color);
    }

    a {
        color: var(--primary-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: var(--secondary-color);
    }

    .project, .login-container, .login-form {
        background-color: var(--background-color-dark);
    }

    .project:hover {
        background-color: var(--primary-color);
        color: var (--text-color-dark);
        transform: scale(1.05); /* Slightly enlarge on hover */
    }

    .project .tags span {
        background-color: var(--secondary-color);
        color: var(--text-color-dark);
    }

    button {
        background-color: var(--primary-color);
        color: var(--text-color-dark);
        transition: background-color 0.3s ease, color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    button:hover {
        background-color: var(--secondary-color);
        color: var(--text-color-light);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px); /* Add a slight upward movement */
    }

    .new-button-style {
        color: var(--text-color-dark); /* Ensure text color is dark */
    }

    .new-button-style:hover {
        background-color: var(--primary-color) !important;
        color: var(--text-color-light) !important; /* Ensure text color is light on hover */
    }

    .new-button-style h2 {
        color: var(--primary-color) !important; /* Ensure title text color is blue */
    }

    .new-button-style:hover h2 {
        color: var(--text-color-light) !important; /* Ensure title text color is light on hover */
    }

    .tagline, .progress-bar {
        color: var(--light-gray-dark);
    }

    header, nav, footer {
        background-color: rgba(0, 0, 0, 0.8);
    }

    footer {
        color: var(--text-color-dark);
    }

    .footer-buttons a {
        filter: invert(1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 20px; /* Smaller size */
        height: 20px; /* Smaller size */
        font-size: 1em; /* Adjust icon size */
    }

    .footer-buttons a:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Subtle hover effect */
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    input, textarea {
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--text-color-dark);
    }

    img {
        filter: none; /* Remove inversion filter */
    }
}

/* Other existing styles */
h1 {
    color: var(--heading1-color);
}

h2 {
    color: var(--heading2-color);
}

h3, .markdown-content h3 {
    color: var(--heading3-color);
}

.markdown-content p {
    margin-bottom: 20px;
}

/* Header and Navigation */
header {
    /* Removed the fixed background color to adhere to light/dark mode */
    position: fixed;
    width: 100vw; /* Expand to fill the whole width of the viewport */
    left: 0; /* Start at the very left-hand side of the screen */
    top: 0;
    z-index: 1000;
    padding: 0; /* Remove padding */
    margin: 0 calc(-1 * var(--body-margin-left));
}

@media (min-width: 768px), (min-width: 1024px) {
    header {
        padding: 0;
        margin: 0 calc(-1 * var(--body-margin-left));
    }
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-direction: column; /* Default to vertical layout */
    align-items: center;
}

nav ul li {
    margin: 10px 0; /* Add margin between items */
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px 15px; /* Add padding for better click area */
    border-radius: 5px; /* Add border radius for rounded corners */
}

nav ul li a:hover {
    background-color: var(--primary-color); /* Add background color on hover */
    color: var(--text-color-dark); /* Change text color on hover */
}

.dropdown {
    display: none; /* Ensure dropdown is hidden initially */
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 10px;
    background-color: var(--background-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2000; /* Ensure it appears above other elements */
    opacity: 0; /* Start hidden */
    transform: translateY(-10px); /* Start slightly above */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.dropdown.show {
    display: block; /* Show dropdown when 'show' class is added */
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.dropdown ul {
    flex-direction: column;
    align-items: flex-start;
}

.dropdown ul li {
    margin: 0;
}

.dropdown ul li a {
    padding: 10px 20px;
    width: 100%;
    height: 80vh;
}